:root {
  --bg: #242629;
  --bg2: #16161a;
  --divider: #242629;
  --headline: #e2e2e2;
  --paragraph: #94a1b2;
  --accent: #2cb67d;
  --complement: #b62c65;
  --accent-text: #fffffe;
  --contrast: #b62c65;
  --secondary: #010101;

  --light-bg: #f7f9fc;
  --light-bg2: #e4e7eb;
  --light-divider: #5b5e6e;
  --light-headline: #1c1e21;
  --light-paragraph: #5b5e6e;
  --light-accent: #33a8a4;
  --light-complement: #de4d4d;
  --light-accent-text: #fffffe;
  --light-contrast: #de4d4d;
  --light-secondary: #f7f9fc;
}

.light-theme {
  --bg: var(--light-bg2);
  --bg2: var(--light-bg);
  --headline: var(--light-headline);
  --paragraph: var(--light-paragraph);
  --accent: var(--light-accent);
  --complement: var(--light-complement);
  --accent-text: var(--light-accent-text);
  --contrast: var(--light-contrast);
  --secondary: var(--light-secondary);
  font-weight: 400;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-light);
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: "Onest";
  src: url("/public/Onest-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Nothing";
  src: url("/public/NothingYouCouldDo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Onest", sans-serif;
  font-weight: 300;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
