:root {
  /* Base colors */
  --primary-dark: #bb86fc;
  --primary-light: ;

  --base-dark: #16161a;
  --background: #242629;
  --accent-neutral: #2cb67d;
  --text-light: #fffffe;

  --bg: #242629;
  --bg2: #16161a;
  --headline: #e2e2e2;
  --paragraph: #94a1b2;
  --accent: #2cb67d;
  --complement: #b62c65;
  --accent-text: #fffffe;
  --contrast: #7f5af0;
  --secondary: #010101;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-light);
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: "Onest";
  src: url("/public/Onest-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Onest", sans-serif;
  font-weight: 300;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
